:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #0070f3;
  --secondary-color: #f0f0f0;
  --text-muted: #666;
  --card-background: #ffffff;
  --card-border: #f0f0f0;
  --badge-background: #ffdd00;
  --badge-color: #333;
  --new-badge-background: #00ff99;
  --new-badge-color: #ffffff;
  --button-background: #0070f3;
  --button-color: #ffffff;
  --icon-color: #00ff99;
  --zap-animation-color: #ffdd00;
}

[data-theme='dark'] {
  --background-color: #000000;
  --text-color: #ffffff;
  --primary-color: #0070f3;
  --secondary-color: #333333;
  --text-muted: #999;
  --card-background: #1a1a1a;
  --card-border: #333333;
  --badge-background: #ffdd00;
  --badge-color: #333;
  --new-badge-background: #00ff99;
  --new-badge-color: #000;
  --button-background: #0070f3;
  --button-color: #ffffff;
  --icon-color: #00ff99;
  --zap-animation-color: #ffdd00;
}